.add-hero {
  width: 25%;
  display: flex;
  justify-content: start;
  button {
    margin-left: 1em;
  }
}

.list-item {
  button {
    visibility: hidden;
    margin-left: 1em;
  }
  &:hover {
    button {
      visibility: visible;
    }
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
}
