<mat-selection-list [multiple]="false">
  <mat-list-option
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero.id === selectedHeroId"
  >
    <div class="list-item">
      <span> {{ hero.id }}: {{ hero.name }} </span>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="deleteHero(hero.id); $event.stopPropagation()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-option>
</mat-selection-list>
<div class="add-hero">
  <input matInput [(ngModel)]="newHeroName" placeholder="New hero name" />
  <button
    mat-raised-button
    color="primary"
    (click)="addHero()"
    disabled="{{ !newHeroName }}"
  >
    Add hero
  </button>
</div>

<ai4tutorial-app-hero-detail
  [hero]="getHeroById(selectedHeroId)"
></ai4tutorial-app-hero-detail>
