<mat-card *ngIf="hero">
  <mat-card-title>{{ hero.name | uppercase }}</mat-card-title>
  <mat-card-subtitle>{{ hero.id }}</mat-card-subtitle>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Name:</mat-label>
      <input
        matInput
        id="name"
        [ngModel]="hero.name"
        (ngModelChange)="updateHero(hero.id, $event)"
        placeholder="name"
      />
    </mat-form-field>
  </mat-card-content>
</mat-card>
